@function rem($targetFontPx, $rootFontSize: 16px){
    @return ( $targetFontPx / $rootFontSize ) + 0rem;
}

html, body {
    margin: 0;
    height: 100%;
}

.main-wrapper {
    position: relative;
    height: 100%;
    overflow: scroll;
    background: #F1E3D3;
}
.view-wrapper {
    min-height: calc(100% - 7.25rem);
    margin: rem(16px) rem(16px) 0;
}

.navbar-wrapper {
    height: rem(60px);
    background: #432b26;
    color: #F2D0A9;
    .navbar-logo {
        font-size: rem(28px);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        line-height: rem(60px);
        text-align: center;
    }
}


.card-wrapper {
    border: rem(4px) solid #65443e;
    padding: 0 rem(16px) rem(16px);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: rem(16px);
    .card-title {
        font-size: rem(24px);
        text-align: center;
    }
    .card-footer {
        font-size: rem(24px);
        text-align: center;
    }
}

.meal-text {
    font-size: rem(24px);
    text-align: center;
}
.meal-list {
    font-size: rem(24px);
}

.btn {
    background: #432b26;
    color: #F2D0A9;
    font-weight: bold;
    height: rem(32px);
    line-height: rem(32px);
    // padding: rem(4px) 0;
    font-size: rem(18px);
    text-align: center;
    box-sizing: border-box;
    &.btn-delete {display: inline-block;
        width: rem(72px);
    }
}

.tab-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #432b26;
    color: #F2D0A9;
    font-size: 0;
    font-weight: bold;
    height: rem(60px);
    .tab-item {
        padding: rem(4px) 0;
        display: inline-block;
        width: 50%;
        font-size: rem(18px);
        text-align: center;
        height: 100%;
        border-right: rem(4px) solid #65443e;
        box-sizing: border-box;
        &:last-of-type {
            border-right: none;
        }
    }
}




@media (min-width: 320px), (max-width: 320px) { html { font-size: 12px; } }
@media (min-width: 360px) { html { font-size: 13.5px; } }
@media (min-width: 400px) { html { font-size: 15px; } }
@media (min-width: 440px) { html { font-size: 16.5px; } }
@media (min-width: 480px) { html { font-size: 18px; } }
@media (min-width: 520px) { html { font-size: 19.5px; } }
@media (min-width: 560px) { html { font-size: 21px; } }
@media (min-width: 600px) { html { font-size: 22.5px; } }
@media screen and (min-width: 640px)  { html { font-size: 16px; } }
